azure-cognitiveservices-language-luis
cachetools
climax
diskcache
flask
flask-sqlalchemy
marshmallow>=3.0.0rc1
mysqlclient
python-dateutil
requests
simplejson
slackclient
slackeventsapi
git+git://github.com/totalhack/toolbox.git#egg=toolbox
usaddress
wheel
